:root {
    --navy-normal: #201976;
    --navy-dark: #180467;
    --navy-light: #2b2986;

    --orange-normal: #e18429;
    --orange-dark: #d0750c;
    --orange-light: #f2943d;

    --white-normal: #f4ede8;
    --white-dark: #e0d9d4;
    --white-light: #FFFFFF;

    --font-main: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main), sans-serif;
    color: var(--gray-text);
    background-color: var(--white-pure);
    line-height: 1.6;
}